<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<footer th:fragment="commonFooter"> <div class="container">
  <div class="footer-grid">
    <div class="footer-col">
      <h3>TechZone</h3>
      <p>Chuyên cung cấp các sản phẩm điện tử, gaming gear chất lượng cao với giá tốt nhất thị trường.</p>
      <div class="social-icons">
        <a th:href="@{#}"><i class="fab fa-facebook-f"></i></a> <a th:href="@{#}"><i class="fab fa-twitter"></i></a>
        <a th:href="@{#}"><i class="fab fa-instagram"></i></a>
        <a th:href="@{#}"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer-col">
      <h3>Liên kết</h3>
      <ul>
        <li><a th:href="@{/}">Trang chủ</a></li> <li><a th:href="@{/category}">Sản phẩm</a></li> <li><a th:href="@{#}">Giới thiệu</a></li> <li><a th:href="@{#}">Liên hệ</a></li> <li><a th:href="@{/account}">Tài khoản</a></li> </ul>
    </div>
    <div class="footer-col">
      <h3>Hỗ trợ</h3>
      <ul>
        <li><a th:href="@{#}">Chính sách bảo hành</a></li>
        <li><a th:href="@{#}">Chính sách đổi trả</a></li>
        <li><a th:href="@{#}">Hướng dẫn mua hàng</a></li>
        <li><a th:href="@{#}">Câu hỏi thường gặp</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Liên hệ</h3>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> 123 Đường ABC, Quận 1, TP.HCM</li>
        <li><i class="fas fa-phone"></i> 1900 1234</li>
        <li><i class="fas fa-envelope"></i> info@techzone.vng</li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2023 TechZone. All rights reserved.</p>
  </div>
</div>
</footer>
</body>
</html>