<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header"> <div class="container">
  <div class="navbar">
    <div class="logo">
      <a th:href="@{/}"><i class="fas fa-laptop-code"></i> Tech<span>Zone</span></a>
    </div>
    <nav class="nav-links">
      <a th:href="@{/}">Trang chủ</a>

      <div class="dropdown">
        <a class="dropbtn">Danh sách sản phẩm</a>

        <div class="dropdown-content">
          <a href="/categories/1">Laptop</a>
          <a href="/categories/2">PC</a>
          <a href="/categories/3">Màn hình</a>
          <a href="/categories/4">Linh kiện</a>
        </div>
      </div>
      <a th:href="@{/inventory}">Admin</a>

    </nav>
    <div class="nav-icons">
      <a href="login.html" title="Đăng nhập"><i class="fas fa-user"></i></a>
      <a href="account.html" title="Thông tin khách hàng"><i class="fa-solid fa-id-card"></i></a>
      <a href="cart.html" title="Giỏ hàng" class="cart-icon active">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-count">3</span>
      </a>
    </div>
  </div>
</div>
</header>
</body>
</html>